.homePage {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  border: 10px solid rgb(224, 126, 183);
  width: 1000px;
  height: 550px;
}

.welcome {
  font-size: 50px;
  font-family: "Bungee Shade", cursive;
  color: black;
  margin-top: 25px;
}

.description {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  width: 700px;
  margin: auto;
  margin-top: 25px;
  height: 200px;
}

/* button {
  display: block;
  margin: auto;
  max-width: 300px;
  border-radius: 15%;
  background-color: #025159;
  color: white;
} */

.allPostsButton {
  margin-top: 30px;
  padding: 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  width: 100px;
  border-radius: 15%;
  background-image: linear-gradient(
    to right top,
    #e691ee,
    #d882e7,
    #ca73e1,
    #bc64db,
    #ac55d5,
    #a04ed3,
    #9347d2,
    #8540d0,
    #7640d2,
    #6540d4,
    #5040d6,
    #3241d8
  );
  color: white;
}

.loginButtonHome {
  display: block;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  width: 200px;
  border-radius: 15%;
  background-image: linear-gradient(
    to right top,
    #e691ee,
    #d882e7,
    #ca73e1,
    #bc64db,
    #ac55d5,
    #a04ed3,
    #9347d2,
    #8540d0,
    #7640d2,
    #6540d4,
    #5040d6,
    #3241d8
  );
  color: white;
}

.allPostsButtonLogin {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  width: 100px;
  border-radius: 15%;
  background-image: linear-gradient(
    to right top,
    #e691ee,
    #d882e7,
    #ca73e1,
    #bc64db,
    #ac55d5,
    #a04ed3,
    #9347d2,
    #8540d0,
    #7640d2,
    #6540d4,
    #5040d6,
    #3241d8
  );
  color: white;
}

.loggedInHomePage {
  font-size: 50px;
  font-family: "Bungee Shade", cursive;
  color: black;
}
