.makeNewPostRoute{
  display: block;
  margin: auto;
  background-image: linear-gradient(
    to right top,
    #e691ee,
    #d882e7,
    #ca73e1,
    #bc64db,
    #ac55d5,
    #a04ed3,
    #9347d2,
    #8540d0,
    #7640d2,
    #6540d4,
    #5040d6,
    #3241d8
  );
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10%;
  border: 5px solid gold;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

.profileSections {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-auto-flow: row;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

.myPosts {
  grid-row: 1;
  grid-column: 1;
  margin-top: 50px;
  margin-left: 100px;
  border: solid black;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
  border: 10px solid rgb(224, 126, 183);
  
}

.postList {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black;
  width: 700px;
  height: 250px;
  font-size: 25px;
  border: 5px solid #e06c00;
}
.deletePostButton{
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(
    to right top,
    #e691ee,
    #d882e7,
    #ca73e1,
    #bc64db,
    #ac55d5,
    #a04ed3,
    #9347d2,
    #8540d0,
    #7640d2,
    #6540d4,
    #5040d6,
    #3241d8
  );
  color: white;
  padding: 15px;
  border-radius: 10%;
  border: 2px solid red;
}

.messages {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  margin-top: 50px;
  margin-left: 50px;
  border: solid black;
  width: 700px;
  height: 1000px;
  overflow: scroll;
  border: 10px solid rgb(224, 126, 183);
}

.messageList {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black;
  width: 550px;
  height: 200px;
  font-size: 20px;
  overflow: auto;
  border: 5px solid gold;
}

.username {
  margin-top: 25px;
  font-size: 50px;
  font-family: "Bungee Shade", cursive;
  color: black;
}

.unauthenticatedProfile{
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 100px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  border: 5px solid white;
}
