header {
  display: flex;
  justify-content: center;
  font-size: 65px;
  font-family: "Texturina", serif;
  background-image: linear-gradient(
      to right top,
      #e691ee,
      #d882e7,
      #ca73e1,
      #bc64db,
      #ac55d5,
      #a04ed3,
      #9347d2,
      #8540d0,
      #7640d2,
      #6540d4,
      #5040d6,
      #3241d8
    );
}

.searchAndMenu {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.link {
  justify-content: flex-end;
  align-items: space-between;
  padding: 2px 2em;
  font-size: 20px;
  color: white;
  background: #4298a1;
  text-decoration: none;
}

.navForm {
  display: flex;
  justify-content: flex-start;
}

label {
  margin-right: 50px;
  font-size: 25px;
}

.searchBar{
  color: #3f843e;
}

input {
  border: solid black;
  margin-right: 200px;
}
